.orderInfo_container {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    font-family: 'ComicSans';
}

.orderUl {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.orderLi {
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: calc(14px + 1vmin);
    background-color: #abc4ff;
    text-shadow: 0px 0px 2px #525e75;
    list-style-type: none;
    border: 1px solid #525e75;
    border-radius: 0 4vh 4vh 0;
    margin: 2vh 0 0 0;
    padding: calc(10px + 1vmin);
}

.orderBookInfo {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.orderTitleAndAuthor_container {
    width: 100%;
    height: auto;
}

.orderBookTitle {
    font-size: calc(12px + 2vmin);
    margin: 0;
}

.orderBookAuthor {
    font-size: calc(9px + 1vmin);
    margin: 0;
}

.orderPriceAndQuantity {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderPrice {
    width: 50%;
    height: calc(12px + 5vmin);
}

.orderQuantity {
    width: 50%;
    height: calc(12px + 5vmin);
}

.orderImg {
    width: calc(12px + 15vmin);
}

.orderResult {
    width: 50%;
    height: calc(50px + 5vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(14px + 2vmin);
    background-color: #abc4ff;
    border: 1px solid #525e75;
    border-radius: 0 4vh 4vh 0;
    margin: 4vh 0 0 0;
    text-shadow: 0px 0px 2px #525e75;
    box-shadow: 0 0 2vh 1vh #525e75;
}

.orderForm {
    width: 95%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: calc(14px + 1vmin);
    background-color: #abc4ff;
    border: 1px solid #525e75;
    border-radius: 0 4vh 4vh 0;
    margin: 5vh 0 5vh 0;
    text-shadow: 0px 0px 2px #525e75;
}

.orderLabel {
    width: 100%;
    text-align: center;
    margin: 2vh 0 0 0;
}

.orderInput {
    width: 100%;
    height: calc(18px + 5vmin);
    font-size: calc(14px + 1vmin);
    color: #525e75;
    text-align: center;
    background-color: #FDFDFD;
    border: 1px solid #525e75;
    border-radius: 0 4vh 4vh 0;
    text-shadow: 0px 0px 2px #FDFDFD;
}

.orderSubmit {
    width: 50%;
    height: calc(24px + 5vmin);
    font-family: 'FuturaRound';
    font-size: calc(18px + 1vmin);
    color: #FDFDFD;
    background-color: #abc4ff;
    border: 1px solid #525e75;
    border-radius: 0 4vh 4vh 0;
    margin: 7vh 0 7vh 0;
    text-shadow: 0px 0px 2px #525e75;
    box-shadow: 0 0 2vh 1vh #525e75;
    cursor: pointer;
}

.orderError {
    width: 100%;
    font-size: calc(14px + 1vmin);
    text-shadow: 0px 0px 2px #525e75;
    background-color: #ff9a9a;
    border-radius: 0 4vh 4vh 0;
    margin: 2vh 0 0 0;
}