.cartIconLink {
    width: 15vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 1vh;
    right: 0;
    text-decoration: none;
    font-size: 6vh;
    background-color: #abc4ff;
    border-radius: 4vh 0 0 4vh;
    border: 1px solid #525e75;
    box-shadow: 0 0 2vh 1vh #525e75;
}
.cartIconImage {
    width: 6vh;
    filter: invert();
}

.cartIconQuantity {
    width: 5vh;
    font-family: 'FuturaRound';
    font-size: calc(9px + 3vmin);
    color: #FDFDFD;
    text-shadow: 0px 0px 2px #525e75;
}