.books_container {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    background-color: #edf2fa;
}

.genreName {
    width: 100%;
    height: auto;
    font-family: 'RoundsBlack';
    font-size: calc(24px + 2vmin);
    color: #FDFDFD;
    background-color: #c1d3fe;
    text-shadow: 0px 0px 2px #525e75;
    margin: 10vh 0 10vh 0;
    padding: 2vh 0 2vh 0;
    border: 1px solid #525e75;
    border-radius: 0 4vh 4vh 0;
    box-shadow: 0 0 2vh 1vh #525e75;
}

.books {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.book {
    width: calc(130px + 15vmin);;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #ccdbfd;
    border-radius: 2vh;
    border: 1px solid #525e75;
    margin: 2vh 4vh 2vh 4vh;
    box-shadow: 0 0 2vh 1vh #525e75;
}

.bookLink {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    font-family: 'FuturaRound';
    text-decoration: none;
    color: #FDFDFD;
}

.bookImg {
    height: calc(195px + 20vmin);
    width: calc(130px + 15vmin);
    margin-top: 2vh;
    border-left: 1px solid #525e75;
    border-right: 1px solid #525e75;
}

.bookTitle {
    width: 100%;
    min-height: auto;
    font-size: calc(7px + 2vmin);
    text-align: center;
    background-color: #abc4ff;
    text-shadow: 0px 0px 2px #525e75;
    margin: 0;
    padding: 1vh; 
}

.bookPrice {
    width: 100%;
    height: auto;
    font-size: calc(7px + 2vmin);
    background-color: #abc4ff;
    text-shadow: 0px 0px 2px #525e75;
    margin: 0;
    padding: 1vh 0 1vh 0; 
}

.bookButton {
    width: 100%;
    height: calc(10px + 7vmin);
    font-family: 'FuturaRound';
    font-size: calc(14px + 1vmin);
    background-color: #ccdbfd;
    text-shadow: 0px 0px 2px #FDFDFD;
    color: #525e75;
    margin: 0;
    border-radius: 0 0 2vh 2vh;
    border: none;
    border-top: 1px solid #525e75;
    cursor: pointer;
}

.bookAdd_container {
    width: 100%;
    height: calc(10px + 7vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'FuturaRound';
    border-top: 1px solid #525e75;
}

.bookAdd {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(14px + 1vmin);
    color: #525e75;
    background-color: #abffab;
    border-radius: 0 0 0 2vh;
    text-shadow: 0px 0px 2px #FDFDFD;
}

.bookDel {
    width: 20%;
    height: 100%;
    font-size: calc(14px + 1vmin);
    color: #525e75;
    background-color: #fec1c1;
    border: none;
    border-left: 1px solid #525e75;
    border-radius: 0 0 2vh 0;
    cursor: pointer;
    text-shadow: 0px 0px 2px #FDFDFD;
}