.cartIcon_container {
    border-radius: 4vh 0 0 4vh;
}

.cartIconLink {
    width: 7rem;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(171, 196, 255, 0.5);
    border-radius: 4vh 0 0 4vh;
    border: 1px solid #525e75;
    padding-right: 1rem;
}
.cartIconImage {
    height: 3vh;
}

.cartIconQuantity {
    width: 2rem;
    font-family: 'BwSurcoBook';
    font-size: calc(9px + 2vmin);
    color: #525e75;
}