.completeOrder_container {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    text-align: left;
}

.orderCompleteButton {
    width: calc(50px + 30vmin);
    height: calc(14px + 10vmin);
    font-family: 'FuturaRound';
    background-color: #abc4ff;
    color: #FDFDFD;
    font-size: calc(14px + 2vmin);
    border: 1px solid #525e75;
    border-radius: 0 4vh 4vh 0;
    padding: 1vh;
    margin: 10vh 0 0 0;
    text-shadow: 0px 0px 2px #525e75;
    box-shadow: 0 0 2vh 1vh #525e75;
    cursor: pointer;
}

.completeOrderHeader {
    width: 100%;
    height: auto;
    font-family: 'RoundsBlack';
    font-size: calc(24px + 2vmin);
    background-color: #abffab;
    border: 1px solid #525e75;
    border-radius: 0 4vh 4vh 0;
    padding: 1vh;
    margin: 10vh 0 0 0;
    text-shadow: 0px 0px 2px #525e75;
    box-shadow: 0 0 2vh 1vh #525e75;
}

.completeOrderInfo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: #abc4ff;
    border: 1px solid #525e75;
    border-radius: 0 4vh 4vh 0;
    padding: 1vh;
    margin: 10vh 0 10vh 0;
    text-shadow: 0px 0px 2px #525e75;
}

.completeOrederInfoHeader {
    width: 90%;
    height: auto;
    font-family: 'RoundsBlack';
    font-size: calc(18px + 2vmin);
    margin: 0;
}

.completeOrderInfoText {
    width: 90%;
    height: auto;
    font-family: 'ComicSans';
    font-size: calc(14px + 2vmin);
    margin: 0;
}

.completeOrderStructure {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    /* flex-direction: column; */
    margin: 0;
}

.completeOrderStructureBookTitleAuthor {
    width: 80%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.completeOrderStructurePriceQuntity {
    width: 30%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
}

.completeOrderHr {
    height: 1px;
    width: 100%;
    background-color: #525e75;
}