.bookDesc_container {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    /* display: flex;
    align-items: center;
    justify-content: start; */
}

.bookDesc {
    width: 95%;
    height: auto;
}

.bookDescImg {
    height: calc(195px + 40vmin);
    width: calc(130px + 25vmin);
    margin-top: 10vh;
    border: 1px solid #525e75;
    box-shadow: 0 0 2vh 1vh #525e75;
}

.bookDescTitle {
    width: 100%;
    height: auto;
    font-family: 'RoundsBlack';
    font-size: calc(24px + 2vmin);
    background-color: #abc4ff;
    border-radius: 0 4vh 4vh 0;
    border: 1px solid #525e75;
    margin: 6vh 0 6vh 0;
    padding: 1vh;
    text-shadow: 0px 0px 2px #525e75;
    box-shadow: 0 0 2vh 1vh #525e75;
}

.booksDescText {
    width: 100%;
    height: auto;
    font-family: 'ComicSans';
    font-size: calc(14px + 1vmin);
    text-align: left;
    background-color: #abc4ff;
    border-radius: 0 4vh 4vh 0;
    border: 1px solid #525e75;
    padding: 2vh;
    text-shadow: 0px 0px 2px #525e75;
}

.bookDescSubText {
    width: 100%;
    height: auto;
    font-family: 'ComicSans';
    font-size: calc(14px + 1vmin);
    background-color: #abc4ff;
    border-radius: 0 4vh 4vh 0;
    border: 1px solid #525e75;
    padding: 1vh;
    text-shadow: 0px 0px 2px #525e75;
}

.bookDescBuy {
    width: 100%;
    height: calc(30px + 2vmin);
    font-size: calc(14px + 1vmin);
    color: #FDFDFD;
    background-color: #abc4ff;
    border-radius: 0 4vh 4vh 0;
    border: 1px solid #525e75;
    margin: 5vh 0 5vh 0;
    padding: 1vh;
    text-shadow: 0px 0px 2px #525e75;
    box-shadow: 0 0 2vh 1vh #525e75;
    cursor: pointer;
}

.bookDescAdd_container {
    width: 100%;
    height: calc(30px + 2vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(14px + 1vmin);
    background-color: #abc4ff;
    border-radius: 0 4vh 4vh 0;
    border: 1px solid #525e75;
    margin: 8vh 0 5vh 0;
    text-shadow: 0px 0px 2px #525e75;
    box-shadow: 0 0 2vh 1vh #525e75;
}

.bookAddCart {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #abffab;
    color: #525e75;
    /* margin: 0; */
    padding: 1vh;
    text-shadow: 0px 0px 2px #FDFDFD;
}

.bookDescDel {
    width: 20%;
    height: 100%;
    font-size: calc(14px + 1vmin);
    color: #525e75;
    background-color: #fec1c1;
    border: none;
    border-left: 1px solid #525e75;
    border-radius: 0 4vh 4vh 0;
    /* margin: 0; */
    padding: 1vh;
    text-shadow: 0px 0px 2px #FDFDFD;
    cursor: pointer;
}