.goBackButton {
    width: calc(100px + 10vmin);
    height: 8vh;
    position: fixed;
    top: 1vh;
    left: 0;
    font-family: 'FuturaRound';
    color: #FDFDFD;
    font-size: calc(14px + 2vmin);
    background-color: #abc4ff;
    border: 1px solid #525e75;
    border-radius: 0 4vh 4vh 0;
    margin: 0;
    text-shadow: 0px 0px 2px #525e75;
    box-shadow: 0 0 2vh 1vh #525e75;
    cursor: pointer;
}